<!-- home.html -->
{% extends 'portfolio/layout.html' %}
{% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/layout.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">


{% block main %}

    <div class="main-home">

        <h2 id="hi">Hi all. I am</h2>
        <h1 id="beatriz">Beatriz Sampaio</h1>
        <h3 id="job">> Student</h3>

        <h4 id="profile">// find my profile on Github:</h4>
        <h4 id="git"><span id="const">const</span> <span id="github-link">githubLink</span> = <span id="link">" <a href="https://github.com/beadsampaio">https://github.com/beadsampaio</a> "</span> </h4>

    </div>


{% endblock %}


{% block footer %}

{% endblock footer %}