<!-- home.html -->
{% extends 'portfolio/layout.html' %}
{% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/layout.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">


{% block main %}

    <div class="grid-container-main-home">
        <div class="grid-container-text-home">
            <div class="grid-item-main-home empty-main-1"></div>
            <div class="grid-item-main-home hi">Hi all. I am</div>
            <div class="grid-item-main-home beatriz">Beatriz Sampaio</div>
            <div class="grid-item-main-home job">> Student</div>
            <div class="grid-item-main-home empty-main-2"></div>
            <div class="grid-item-main-home profile">// find my profile on GitHub:</div>
            <div class="grid-item-main-home git"><span id="const">const </span>   <span id="github-link">githubLink</span>   =   <span id="link">  "<a href="https://github.com/beadsampaio">https://github.com/beadsampaio</a>"  </span></div>
            <div class="grid-item-main-home empty-main-3"></div>
        </div>

        <div class="grid-container-calculadora-home">

             <div class="calculator">
                <input type="text" id="result" disabled>
                <div class="keypad">
                  <button onclick="clearResult()">C</button>
                  <button onclick="appendToResult('/')">/</button>
                  <button onclick="appendToResult('9')">9</button>
                  <button onclick="appendToResult('*')">*</button>
                  <button onclick="appendToResult('7')">7</button>
                  <button onclick="appendToResult('8')">8</button>
                  <button onclick="appendToResult('6')">6</button>
                  <button onclick="appendToResult('-')">-</button>
                  <button onclick="appendToResult('5')">5</button>
                  <button onclick="appendToResult('4')">4</button>
                  <button onclick="appendToResult('3')">3</button>
                  <button onclick="appendToResult('+')">+</button>
                  <button onclick="appendToResult('2')">2</button>
                  <button onclick="appendToResult('1')">1</button>
                  <button onclick="appendToResult('0')">0</button>
                  <button onclick="appendToResult('.')">.</button>
                  <button onclick="calculateResult()">=</button>
                </div>
            </div>

            <script>
                function appendToResult(value) {
                  var result = document.getElementById("result");
                  result.value += value;
                }

                function calculateResult() {
                  var result = document.getElementById("result");
                  var expression = result.value;

                  try {
                    var calculatedResult = eval(expression);
                    result.value = calculatedResult;
                  } catch (error) {
                    result.value = "Error";
                  }
                }

                function clearResult() {
                  var result = document.getElementById("result");
                  result.value = "";
                }

            </script>



        </div>
    </div>



{% endblock %}


{% block footer %}
    <!-- VAZIO -->
{% endblock footer %}