<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <title>Beatriz Sampaio</title>
    <meta name="author" content="Beatriz Sampaio">
    <meta name="description" content="Portfolio">
    <meta name="keywords" content="palavras chave">

    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/layout.css' %}">
</head>


<body>
<header>
    <div>Beatriz Sampaio</div>
    <nav>
        <a href="">home</a>
        <a href="">products</a>
        <a href="">about</a>
        <a href="">contact</a>
    </nav>
</header>

<main>
    {% block main %}
    {% endblock main %}
</main>

<footer>ULusófona, 2023</footer>
