<!DOCTYPE html>
{% load static %}
<html lang="pt">

<head>
    <meta charset="utf-8">
    <title>Beatriz Sampaio</title>
    <meta name="author" content="Beatriz Sampaio">
    <meta name="description" content="Portfolio">

    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/layout.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">


</head>
<body>
    <header>
        <div class="logo">
            <h3>beatriz-sampaio</h3>
        </div>
        <div class="menu"><i class="ri-menu-line"></i></div>

        <nav>
            <a href="{% url 'portfolio:home' %}">_hello</a>
            <a href="{% url 'portfolio:about' %}">_about-me</a>
            <a href="{% url 'portfolio:projects' %}">_projects</a>
            <a href="{% url 'portfolio:contact' %}">_contact-me</a>
        </nav>



    </header>
<hr class="footer-divider" />
    <main>
        {% block main %}
        {% endblock main %}
    </main>

 <!-- <footer>
        <p>find me in:</p>
        <i class="ri-linkedin-fill" id="icon-footer"></i>
        <i class="ri-github-fill" id="icon-footer"></i>

    </footer> -->

</body>
