<!DOCTYPE html>
{% load static %}
<html lang="pt">

<head>
    <meta charset="utf-8">
    <title>Beatriz Sampaio</title>
    <meta name="author" content="Beatriz Sampaio">
    <meta name="description" content="Portfolio">

    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/layout.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

    <script src="https://use.fontawesome.com/your-embed-code.js"></script>

</head>
<body class="grid-container-page">

    <header>

        <nav>
            <div class="grid-container-header">
                <div class="grid-item logo">beatriz-sampaio</div>
                <div class="grid-item page"><a href="{% url 'portfolio:home' %}">_hello</a></div>
                <div class="grid-item page"><a href="{% url 'portfolio:about' %}">_about-me</a></div>
                <div class="grid-item page"><a href="{% url 'portfolio:projects' %}">_projects</a></div>
                <div class="grid-item space-header"></div>
                <div class="grid-item page"><a href="{% url 'portfolio:contact' %}">_contact-me</a></div>
            </div>

        </nav>
        <div class="divider"></div>
    </header>

    <main>
        {% block main %}
        {% endblock main %}
    </main>

    <footer>
        {% block footer %}
            <div class="grid-container-footer">
                <div class="grid-item find-me">find me in:</div>
                <div class="grid-item icon"><i class="ri-linkedin-fill" id="icon-footer"></i></div>
                <div class="grid-item icon"><i class="ri-github-fill" id="icon-footer"></i></div>
                <div class="grid-item space-footer"></div>
                <div class="grid-item darkmode">darkmode</div>
                <div class="grid-item darkmode">date</div>
            </div>
        {% endblock footer %}
    </footer>

</body>
