 @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

    /*    * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            text-decoration: none;
            list-style: none;
            font-family: 'Fira Code', monospace;
            background-color: #011627;
            color: #607B96;
        }

         body {

         }


        header {
           /* margin-top: 1%;
            position: absolute;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 10%; *
            height: 100vh;
            width: 100vw;

            border: 2px solid green;
        }

        .navbar {
            position: absolute;
            padding: 50px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            box-sizing: border-box;


            border: 2px solid cadetblue;
        }

        .logo {
            display: flex;
            width: 40%;
            height: 100%;
            margin-left: 3%;
            align-content: center;
            font-size: 2em;

            border: 2px solid orangered;
        }

        .nav-links ul {
            display: flex;

            border: 2px solid pink;
        }



        .logo h3 {
            position: relative;
            width: 100%;
            height: 80%;

            font-size: 100%;

            border: 2px solid wheat;
        }

        .menu {
            position: relative;
            width: 5%;
            height: 5%;

            margin-right: 10%;


            border: 2px solid gray;
        }

        .bars {
            height: max-content;

            fill: #607B96;
        }




        .footer-divider {
            position: absolute;
            width: 0px;
            height: 100%;
            left: 500px;
            padding-top: 0px;
            border: 2px solid #1E2D3D;
            transform: rotate(90deg);
            bottom: 0;
        }

        main {
            background-color: #011627;
        }

        p {
            color: #607B96;
        }

        #icon-footer {
            padding: 10px;

        }

        /home.html*

    .main-home {
        position: absolute;
        border: 2px solid red;
        margin-left: 5%;
        margin-bottom: 10%;
        width: 90%;
        height: 80%;
    }

    #hi {
        position: absolute;
        width: 141px;
        height: 24px;
        left: 8%;
        top: 28%;
        font-style: normal;
        font-weight: 450;
        font-size: 18px;
        line-height: 24px;
        color: #E5E9F0;
    }

    #beatriz {
        position: absolute;
        width: 291px;
        height: 124px;
        left: 8%;
        top: 30%;
        font-style: normal;
        font-weight: 400;
        font-size: 62px;
        line-height: 100%;
        color: #E5E9F0;
    }

     #job {
        position: absolute;
        width: 273px;
        height: 26px;
        left: 8%;
        top: 40%;
        font-style: normal;
        font-weight: 450;
        font-size: 20px;
        line-height: 26px;
        color: #43D9AD;
     }

     #profile {
        position: absolute;
        width: 267px;
        height: 20px;
        left: 8%;
        top: 55%;
        font-style: normal;
        font-weight: 450;
        font-size: 14px;
        line-height: 140%;
        color: #607B96;

     }

     #git {
        position: absolute;
        width: 273px;
        height: 40px;
        left: 8%;
        top: 57%;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;

     }

     #const {
        color: #4D5BCE;
     }

     #github-link {
        color: #43D9AD;
     }

     #link, #link a {
        color: #FEA55F;
     }*/

    * {
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style: none;
        font-family: 'Fira Code', monospace;
        background-color: #011627;
        color: #607B96;
        font-size: large;
    }

    .grid-container-page {
        display: grid;
        grid-template-rows: 5vh 90vh 5vh;
        grid-template-areas:
            "header"
            "main"
            "footer";
        grid-row-gap: 5px;

    }

        /* HEADER */

    .grid-container-header {
        display: grid;
        grid-template-columns: 1.5fr repeat(3, 1fr) 2.5fr 1fr;
        grid-area: header;

      /*  border: 2px solid green;*/
    }

    .grid-item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vh;

       /* border: 2px solid red;*/
    }

    .logo {
        border-bottom: 2px solid #1E2D3D;
    }

    .page, .space-header {
        border-left: 2px solid #1E2D3D;
        border-bottom: 2px solid #1E2D3D;
    }

        /* FOOTER */

    .grid-container-footer {
        display: grid;
        grid-template-columns: 0.75fr repeat(2, 0.25fr) 2.5fr 1fr 1fr;
        grid-template-rows: 5vh;
        grid-area: footer;

      /*  border: 2px solid green;*/
    }

    .grid-item {
        display: flex;
        justify-content: center;
        align-items: center;

       /* border: 2px solid red;*/
    }


        /* MAIN HOME */



    .grid-container-main-home {
        display: grid;
        height: 88vh;
        grid-template-rows: 2fr 1fr 2.5fr 1fr 1.5fr repeat(2, 1fr);
        grid-area: main;



     /*border: 2px solid green;*/
    }

    .grid-item-main-home {

        display: flex;
        justify-content: center;


       /* border: 2px solid red;*/
    }

    .divider {
        margin-block: 25px;
        border: none;
        border-top: 2px solid #1E2D3D;
    }

    .hi, .job {
        font-size: 2vw;
    }

    .beatriz {
        font-size: 5vw;
    }

    .profile, .git {
        font-size: 1vw;
    }


