
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
    font-style: normal;
}

header {
    height: 10vh;
    background: black;
    color: white;
    top: 0;

    /* alinhando logo e menu*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div {
    font-size: 2em;
    padding: 1em;
}

.menu {
    position: absolute;
    width: 345px;
    height: 697px;
    left: 15px;
    top: 15px;
}

.line {
    background: #011627;
    border: 1px solid #1E2D3D;
    border-radius: 8px;
}

header nav {
    display: flex;
    justify-contents: space-between;
}


nav a {
    padding: 0 1em;
    text-decoration: none;
    font-size: 1rem;
    color: lightgray;
}


main {
    height: 85vh;
    background-color: grey;
    padding: 4em 4em;
}

footer {
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    padding: 0 2vw;
    align-items: center;
}